body{
    background-color: #f1f1f1;
}
img{
    width: 190px;
}
div{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Verdana';
}
h1{
    font-size: 24px;
    color: #606062;
    border: 5px solid #606062;
    margin: 0 auto;
}
h2{
    font-size: 20px;
    color: #606062;
    margin: 30px 0;
}
h3{
    font-size: 18px;
    font-weight: normal;
    color: #606062;
    border-top: 2px solid #606062;
    border-bottom: 2px solid #606062;
}
p{
    font-size: 16px;
    font-weight: normal;
    color: #606062;
    text-align: justify;
    line-height: 28px;
}
span{
    font-size: 16px;
    font-weight: bold;
}
a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: limegreen;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}